@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    
}

*{
    margin: 0px;
    padding: 0px;
}



.normal{
    background-color: white;
    color: black;
}

.imagem{
    
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: inset 0px 0px 13px 0px black;
    background-attachment: fixed;
    border-radius: 10px;
    margin: 0px 20px;
    
    
}

#img1{
    background-image: url('../img/background001.jpg');
    background-position: right center;
    background-size: cover;
}

#img2{
    background-image: url('../img/background002.jpg');
    background-position: right center;
    background-size: cover;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
}

header > h1{
    font-size: 7vw;
    padding-top: 50px;
    font-variant: small-caps;
    /*text-transform: uppercase (tudo maiusculo)*/
}

header > p{
    padding-bottom: 50px;
    font-size: 3.4vw;
    font-family: var(--font3);
    
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}


main{
    font-family: var(--font3);
    font-size: 2.6vw;
    background-color: white;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    padding-bottom: 1em;
}

section.imagem > p{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.425);

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 0.7em;
}